<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Warsey - Error</title>
  <link rel="icon" type="image/png" href="/content/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    body {
        background-color: #2b2b2b;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
    }
    .logo {
        width: 15%;
        margin-top: 20vh;
    }
</style>
<body>
    <center>
        <img src="/content/warsey-sport-solutions.webp" class="logo"><br>
        <h1>Error Code: {{ errorcode }}</h1>
        <h3>{{ errormsg }}</h3>
    </center>
</body>