<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <title>Warsey - Customize Your T-Shirt</title>
  <link rel="icon" type="image/png" href="/content/favicon.png">
  <meta property="og:title" content="Warsey Customizer - Customize your Supporters T-Shirt"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="/content/fbposter.jpg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"warsey",utcoffset:"3"}))};sessionStorage.setItem("_swa","1");</script>
  <link rel="stylesheet" href="/content/home.css">
</head>
<body>
  <div class="product">
	<div id="productImages">
	<a href="#name">
		<div id="sliderImages" class="custom-tshirt">
			<div id="tshirt" class="productImage" style="background-image: url('/content/none.gif');"></div>
		</div>
	</a>
		<div id="sliderIndex">
		</div>
	</div>
	<div class="productInfo">
        <a href="https://www.warseysports.com"><img src="/content/warsey-sport-solutions.webp" class="warseylogo"></a>
		<h1 class="title">Customize <span class="titletext">Your T-Shirt</span></h1>
		<span class="productId">Product: Supporter-Custom-Tshirt-Warsey</span>
		<p>With the help of the Warsey Sports Customizer you now can personalize & customize any of the Supporters T-Shirts to your liking, share your creation with other people or order it online and have arrive right at your door-step.</p>
		<label>Country: <a href="https://www.warseysports.com/shop/">Shop</a></label>
		<div class="select-wrapper countryselect" id="country" name="country">
			<select onchange="RevertToNone();" id="countrylist">
				<option value="argentina">Argentina</option>
				<option value="costarica">Costa Rica</option>
				<option value="tunisia">Tunisia</option>
				<option value="france">France</option>
				<option value="ghana">Ghana</option>
				<option value="germany">Germany</option>
				<option value="portugal">Portugal</option>
				<option value="australia">Australia</option>
				<option value="japan">Japan</option>
				<option value="mexico">Mexico</option>
				<option value="qatar">Qatar</option>
				<option value="netherlands">Netherlands</option>
				<option value="senegal">Senegal</option>
				<option value="ecuador">Ecuador</option>
				<option value="england">England</option>
				<option value="us">United States</option>
				<option value="wales">Wales</option>
				<option value="iran">Iran</option>
				<option value="poland">Poland</option>
				<option value="saudiar">Saudi Arabia</option>
				<option value="denmark">Denmark</option>
				<option value="spain">Spain</option>
				<option value="belgium">Belgium</option>
				<option value="croatia">Croatia</option>
				<option value="canada">Canada</option>
				<option value="morocco">Morocco</option>
				<option value="brazil">Brazil</option>
				<option value="switzerland">Switzerland</option>
				<option value="serbia">Serbia</option>
				<option value="cameroon">Cameroon</option>
				<option value="uruguay">Uruguay (Coming Soon)</option>
				<option value="korea">Korea Republic</option>
			</select>
		</div>
        <label>Model: </label>
		<div class="select-wrapper" id="model" id="model">
			<select onchange="ChangeModel(event);" class="select-box">
                <option value="none" data-chained="tunisia costarica ghana germany france portugal australia japan mexico qatar netherlands senegal ecuador england us wales iran argentina poland saudiar denmark spain belgium croatia canada morocco brazil switzerland serbia cameroon uruguay korea">None</option>
                <option value="gotunisia-red" data-chained="tunisia">Go Tunisia Red Model</option>
				<option value="gotunisia-white" data-chained="tunisia">Go Tunisia White Model:1</option>
				<option value="gotunisia-white2" data-chained="tunisia">Go Tunisia White Model:2</option>
				<option value="gotunisia-black" data-chained="tunisia">Go Tunisia Black/Gold Model</option>
                <option value="vamoscostarica" data-chained="costarica">Vamos Costa Rica</option>
				<option value="gocostarica-red" data-chained="costarica">Go Costa Rica Red</option>
				<option value="goghana-model1" data-chained="ghana">Go Ghana Model:1</option>
				<option value="goghana-model2" data-chained="ghana">Go Ghana Model:2</option>
				<option value="gogermany-model1" data-chained="germany">Go Germany Model:1</option>
				<option value="gogermany-model2" data-chained="germany">Go Germany Model:2</option>
				<option value="gofrance-model1" data-chained="france">Go France Model:1</option>
				<option value="gofrance-model2" data-chained="france">Go France Model:2</option>
				<option value="gofrance-model3" data-chained="france">Go France Model:3</option>
				<option value="goptg-model1" data-chained="portugal">Go Portugal Model:1</option>
				<option value="goptg-model2" data-chained="portugal">Go Portugal Model:2</option>
				<option value="goptg-model3" data-chained="portugal">Go Portugal Model:3</option>
				<option value="goptg-model4" data-chained="portugal">Go Portugal Model:4</option>
				<option value="goau-model1" data-chained="australia">Go Australia Model:1</option>
				<option value="goau-model2" data-chained="australia">Go Australia Model:2</option>
				<option value="goau-model3" data-chained="australia">Go Australia Model:3</option>
				<option value="goau-model4" data-chained="australia">Go Australia Model:4</option>
				<option value="goau-model5" data-chained="australia">Go Australia Model:5</option>
				<option value="gojapan-model1" data-chained="japan">Go Japan Model:1</option>
				<option value="gojapan-model2" data-chained="japan">Go Japan Model:2</option>
				<option value="gojapan-model3" data-chained="japan">Go Japan Model:3</option>
				<option value="gojapan-model4" data-chained="japan">Go Japan Model:4</option>
				<option value="gojapan-model5" data-chained="japan">Go Japan Model:5</option>
				<option value="gomexico-model1" data-chained="mexico">Go Mexico Model:1</option>
				<option value="gomexico-model2" data-chained="mexico">Go Mexico Model:2</option>
				<option value="gocanada-model1" data-chained="canada">Go Canada Model:1</option>
				<option value="gocanada-model2" data-chained="canada">Go Canada Model:2</option>
				<option value="gocanada-model3" data-chained="canada">Go Canada Model:3</option>
				<option value="gocanada-model4" data-chained="canada">Go Canada Model:4</option>
				<option value="gobz-model1" data-chained="brazil">Go Brazil Model:1</option>
				<option value="gobz-model2" data-chained="brazil">Go Brazil Model:2</option>
				<option value="gobz-model3" data-chained="brazil">Go Brazil Model:3</option>
				<option value="gobz-model4" data-chained="brazil">Go Brazil Model:4</option>
				<option value="gobz-model5" data-chained="brazil">Go Brazil Model:5</option>
				<option value="gonl-model1" data-chained="netherlands">Go Netherlands Model:1</option>
				<option value="gonl-model2" data-chained="netherlands">Go Netherlands Model:2</option>
				<option value="gousa-model1" data-chained="us">Go USA Model:1</option>
				<option value="gousa-model2" data-chained="us">Go USA Model:2</option>
				<option value="gousa-model3" data-chained="us">Go USA Model:3</option>
				<option value="gobelg-model1" data-chained="belgium">Go Belgium Model:1</option>
				<option value="gobelg-model2" data-chained="belgium">Go Belgium Model:2</option>
				<option value="gobelg-model3" data-chained="belgium">Go Belgium Model:3</option>
				<option value="gosa-model1" data-chained="saudiar">Go Saudi Arabia Model:1</option>
				<option value="gosa-model2" data-chained="saudiar">Go Saudi Arabia Model:2</option>
				<option value="gosa-model3" data-chained="saudiar">Go Saudi Arabia Model:3</option>
				<option value="gospain-model1" data-chained="spain">Go Spain Model:1</option>
				<option value="gospain-model2" data-chained="spain">Go Spain Model:2</option>
				<option value="gospain-model3" data-chained="spain">Go Spain Model:3</option>
				<option value="gospain-model4" data-chained="spain">Go Spain Model:4</option>
				<option value="goserbia-model1" data-chained="serbia">Go Serbia Model:1</option>
				<option value="goserbia-model2" data-chained="serbia">Go Serbia Model:2</option>
				<option value="goserbia-model3" data-chained="serbia">Go Serbia Model:3</option>
				<option value="gocroatia-model1" data-chained="croatia">Go Croatia Model:1</option>
				<option value="gocroatia-model2" data-chained="croatia">Go Croatia Model:2</option>
				<option value="gocroatia-model3" data-chained="croatia">Go Croatia Model:3</option>
				<option value="gocroatia-model4" data-chained="croatia">Go Croatia Model:4</option>
				<option value="gocroatia-model5" data-chained="croatia">Go Croatia Model:5</option>
				<option value="gokorea-model1" data-chained="korea">Go Korea Model:1</option>
				<option value="gokorea-model2" data-chained="korea">Go Korea Model:2</option>
				<option value="gokorea-model3" data-chained="korea">Go Korea Model:3</option>
				<option value="gokorea-model4" data-chained="korea">Go Korea Model:4</option>
				<option value="goarg-model1" data-chained="argentina">Go Argentina Model:1</option>
				<option value="goarg-model2" data-chained="argentina">Go Argentina Model:2</option>
				<option value="gowales-model1" data-chained="wales">Go Wales Model:1</option>
				<option value="gowales-model2" data-chained="wales">Go Wales Model:2</option>
				<option value="gowales-model3" data-chained="wales">Go Wales Model:3</option>
				<option value="gowales-model4" data-chained="wales">Go Wales Model:4</option>
				<option value="goiran-model1" data-chained="iran">Go Iran Model:1</option>
				<option value="goiran-model2" data-chained="iran">Go Iran Model:2</option>
				<option value="goiran-model3" data-chained="iran">Go Iran Model:3</option>
				<option value="goiran-model4" data-chained="iran">Go Iran Model:4</option>
				<option value="goeng-model1" data-chained="england">Go England Model:1</option>
				<option value="goeng-model2" data-chained="england">Go England Model:2</option>
				<option value="godk-model1" data-chained="denmark">Go Denmark Model:1</option>
				<option value="godk-model2" data-chained="denmark">Go Denmark Model:2</option>
				<option value="goecuador-model1" data-chained="ecuador">Go Ecuador Model:1</option>
				<option value="goecuador-model2" data-chained="ecuador">Go Ecuador Model:2</option>
				<option value="gomorocco-model1" data-chained="morocco">Go Morocco Model:1</option>
				<option value="gomorocco-model2" data-chained="morocco">Go Morocco Model:2</option>
				<option value="gomorocco-model3" data-chained="morocco">Go Morocco Model:3</option>
				<option value="goswiss-model1" data-chained="switzerland">Go Switzerland Model:1</option>
				<option value="goswiss-model2" data-chained="switzerland">Go Switzerland Model:2</option>
				<option value="goswiss-model3" data-chained="switzerland">Go Switzerland Model:3</option>
				<option value="gocameroon-model1" data-chained="cameroon">Go Cameroon Model:1</option>
				<option value="gocameroon-model2" data-chained="cameroon">Go Cameroon Model:2</option>
				<option value="gocameroon-model3" data-chained="cameroon">Go Cameroon Model:3</option>
				<option value="goqatar-model1" data-chained="qatar">Go Qatar Model:1</option>
				<option value="goqatar-model2" data-chained="qatar">Go Qatar Model:2</option>
				<option value="gosenegal-model1" data-chained="senegal">Go Senegal Model:1</option>
				<option value="gosenegal-model2" data-chained="senegal">Go Senegal Model:2</option>
				<option value="gopoland-model1" data-chained="poland">Go Poland Model:1</option>
			</select>
		</div>
        <div class="namediv">
            <label for="tshirttext">Your Name:</label>
            <input class="name" type="text" id="name" name="name" placeholder="Your Name Here" maxlength="16" oninput="this.value = this.value.replace(/[!@#$%^&*0-9]/g, '');">
        </div>
		<div class="numdiv">
            <label for="tshirttext">Number:</label>
            <input class="number" type="text" id="number" name="number" placeholder="12 (Coming Soon)" maxlength="2" disabled>
        </div>
		<div class="sharecode">
			<noscript>Your browser does not support JavaScript!</noscript>
			<a onclick="GenerateShareCode();">Get Your Share Code</a>
		</div>
	</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/content/jquery.chained.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script id="rendered-js" src="/content/render.js"></script>
<script id="rendered-js" src="/content/warseycustomizer.js"></script>
</body>
</html>
 
