<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Warsey - Share Code</title>
  <link rel="icon" type="image/png" href="/content/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/content/sharecode.css">
  <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"warsey",utcoffset:"3"}))};sessionStorage.setItem("_swa","1");</script>
</head>
<body>
  <div class="product">
	<div id="productImages">
		<div id="sliderImages" class="custom-tshirt">
			<div id="tshirt" class="productImage" style="background-image: url('{{ modelurl }}');"></div>
			</div>
		<div id="sliderIndex">
		</div>
	</div>	
	<div class="productInfo">
        <a href="/"><img src="/content/warsey-sport-solutions.webp" class="warseylogo"></a>
		<h1 class="title">Your <span class="titletext">Personalized T-Shirt</span></h1>
		<h2>SHARE CODE:</h2>
		<div id="wrapper">
		<div id="sharecodediv">
        <h1 id="codeshare" class="sharecode" onclick="copyToClipboard('codeshare');">{{ code }}<span class="copynotif" id="copynotif">Sharecode Copied!</span></h1>
        <span class="productId clickable" onclick="copyToClipboard('codeshare');">Click to copy.</span>
		<p class="tshirtlink">T-Shirt Link: <a id="tshirtlink" href="#share" class="tshirtlinkspan"></a></p>
		</div>
		<div id="qrcodediv">
		<div id="qrcode"></div>
		</div></div>
		<noscript>Your browser does not support JavaScript!</noscript>
		<label>Name: {{ name }}</label>
        <label>Model: {{ model }}<a>[codename]</a></label>
        <p>You can use this Sharecode when adding your Supporter T-Shirt to cart on <a href="https://www.warseysports.com/shop/">Warsey Sports's Shop</a> or to share this Personalized T-Shirt to your friends or family (The link to this page may also be usable).</p>
		<div class="sharecode">
			<a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
				<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
			  </svg> New T-Shirt</a>
			<a href="https://www.warseysports.com/product-category/supporter/" class="sharecodebuttons"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
				<path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
			  </svg>  Add To Cart</a>
		</div>
        <input type="text" id="copyingText" style="visibility: hidden;"/>
		<p id="sharecodep" style="display: none;">{{ code }}</p>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/content/sharecode.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script id="rendered-js" src="/content/render.js"></script>
</body>
</html>
 
